<div class="background-pattern">
    <img class="top" src="/assets/svg/top.svg">
    <img class="left" src="/assets/svg/left.svg">
    <img class="right" src="/assets/svg/right.svg">
    <img class="right-2" src="/assets/svg/right-2.svg">
    <img class="bottom" src="/assets/svg/bottom.svg">
</div>


<div class="content">

    <div class="title">
        <img class="bottom" src="/assets/svg/heart.svg">
        <div><span>Doctora.</span> González Mariana</div>
    </div>

    <div class="subtitle right">Médico General</div>


    <div class="list">
        <ol>
            <li>Atención primaria a la salud </li>
            <li>Chequeos preventivos generales </li>
            <li>Revisión de estudios de laboratorio y gabinete </li>
            <li>Toma de signos vitales </li>
            <li>Control de niño sano </li>
            <li>Control de enfermedades crónico degenerativas </li>
            <li>Lavado de oídos </li>
            <li>Suturas </li>
            <li>Control prenatal y postnatal </li>
            <li>Salud sexual y reproductiva </li>
            <li>Venoclosis </li>
            <li>Curación de heridas </li>
            <li>Nebulizaciones </li>
        </ol>
    </div>

    <div class="image-doctor">
        <img src="/assets/img/doctora-001.png">
    </div>
</div>