ad001 {
    background: white;
    // background: linear-gradient(0deg,rgba(235, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 56%);;
    color: #3d2529;
    width: 100%;
    min-height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 10%;

    .title {
        font-size: 22pt;
        line-height: 1.2;

        .subtitle {
            text-transform: uppercase;
            font-size: 14pt;

            &.right {
                text-align: right;
            }
        }

        z-index: 10;
    }

    .list {
        padding: 0 0 50px 0;

        ol {
            list-style: decimal-leading-zero;

            li {
                margin-left: 50px;

                &::marker {
                    color: #26CFD2;
                    font-size: 22pt;
                }
            }
        }
    }

    .image-doctor {
        position: relative;
        left: 0;
        display: flex;

        .circle1 {
            width: 450px;
            height: 450px;
            background: #26CFD2;
            background: #b6dedf;
            position: absolute;
            border-radius: 50%;
            margin-left: -195px;
            margin-top: -120px;
        }

        .circle2 {
            width: 350px;
            height: 350px;
            background: #26CFD2;
            position: absolute;
            border-radius: 50%;
            margin-left: -150px;
            margin-top: -120px;
        }

        img {
            margin-left: -34px;
            height: auto;
            width: 319px;
            margin-top: -46px;
            z-index: 3;
        }
    }
}